{
  "presets": [
    "react-app"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components", {
            "displayName": true
          }
        ]
      ]
    }
  }
}