{
  "extends": [
    "react-app",
    "plugin:jest/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "document": true,
    "window": true,
    "navigator": true,
    "it": true,
    "jest": true,
    "expect": true,
    "describe": true
  },
  "rules": {
    "eol-last": [2, "always"],
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "none",
      "ignoreRestSiblings": false
    }],
    "no-unused-expressions": [2, {
      "allowShortCircuit": true,
      "allowTernary": true,
      "allowTaggedTemplates": true
    }],
    "react/jsx-sort-props": [2, {
      "noSortAlphabetically": false,
      "callbacksLast": true
    }],
    "react/jsx-wrap-multilines": [2, {
      "assignment": "parens-new-line",
      "arrow": "parens-new-line"
    }]
  }
}
