# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
.rpt2_cache
docker-compose.override.yml

# misc
.DS_Store
.vscode

**/*.local
**/*.prod
/data

*.log
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
