{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react-hooks",
    "import",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "amd": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js"
        ],
        "paths": [
          "src"
        ]
      }
    }
  },
  "globals": {
    "document": true,
    "window": true,
    "navigator": true,
    "it": true,
    "jest": true,
    "expect": true,
    "describe": true,
    "module": false
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading": 0,
    "react/no-array-index-key": 0,
    "global-require": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/order": [2, {"newlines-between": "always"}],
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "none",
      "ignoreRestSiblings": false
    }],
    "no-unused-expressions": [2, {
      "allowShortCircuit": true,
      "allowTernary": true,
      "allowTaggedTemplates": true
    }],
    "react/jsx-sort-props": [2, {
      "noSortAlphabetically": false,
    }],
    "react/jsx-wrap-multilines": [2, {
      "assignment": "parens-new-line",
      "arrow": "parens-new-line"
    }]
  }
}
